html {
  scroll-behavior: smooth;
}

div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#00487C;
	padding:8px;
  text-align: center;
}

#header {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(#00487C, white );
  border-style: outset;
	border-radius: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  background-image: linear-gradient(#027BCE, white);
  text-align: center;
	padding-bottom: 25px;
	padding: 2px 16px;
	width: 80%;
	display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

ul {
  list-style-type: none;
}

img {
  border-radius: 5px 5px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.spacing {
  padding-top: 10px;
  padding-bottom: 15px;
  line-height: 25px;
}

.card-body {
  background-color: white;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 25px;
  padding-bottom: 20px;
  padding: 15px 20px;

}

.card-body:hover {
  background-color: #cde9fb9d;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a{
  color: #3366cc;
  text-decoration: none;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

#delete{
  color: ivory;
  animation: glow 1s ease-in-out infinite alternate;
}
