@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2 id="delete">Are you sure you want to Delete this client?</h2>
<hr />

<div class="card-body">
  <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name) </h3>
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" class="btn btn-outline-light text-dark btn-lg" />
  }
</div>

<br />
<button type="button" class="btn btn-outline-light text-dark btn-lg">@Html.ActionLink("Back to List", "Index")</button>